.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.button-holder button, button {
    border: 1px solid #333;
    margin: 0 0 5px 5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #111;
    padding: 0.5em;
    cursor: pointer;
}

